.settings {
  &__timer-checkbox-container,
  &__volume-checkbox-container,
  &__volume-controls,
  &__timer-controls,
  &__volume,
  &__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__timer-checkbox-container,
  &__volume-checkbox-container,
  &__volume-controls,
  &__timer-controls {
    justify-content: center;
  }

  &__section {
    color: $hover;
  }
  &__logo {
    background: url('./../../../assets/svg/logo.svg') center / contain no-repeat;
  }

  &__info {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__volume-input-container,
  &__timer-input-container {
    position: relative;
    width: 100%;
  }
  &__volume-input-container input[type='RANGE']:disabled,
  &__timer-input-container input[type='RANGE']:disabled {
    & ~ .settings__volume-input-thumb,
    & ~ .settings__timer-input-thumb {
      background: $range-disabled;
    }
    & ~ .settings__volume-input-bar,
    & ~ .settings__timer-input-bar {
      background: $range-disabled;
    }
  }
  &__volume-controls,
  &__timer-controls {
    row-gap: 20px;
    width: 100%;

    input[type='RANGE'] {
      -webkit-appearance: none;
      outline: none;

      height: 8px;
      width: 100%;
      border-radius: 3px;
      position: relative;
      background: $range;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        position: relative;
        z-index: 2;
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }
      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        z-index: 2;
      }
    }
  }
  &__volume-input-bar,
  &__timer-input-bar {
    position: absolute;
    z-index: 0;
    top: 60%;
    left: 0;
    height: 8px;

    background: $range-active;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
  }
  &__volume-input-bar {
    width: 100%;
  }
  &__timer-input-bar {
    width: 40%;
  }

  &__volume-input-thumb,
  &__timer-input-thumb {
    position: absolute;
    z-index: 1;
    top: 48%;
    width: 16px;
    height: 16px;
    background: $button;
    border: 1px solid $white;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease 0s;
  }

  &__volume-input-thumb {
    left: 100%;
  }
  &__timer-input-thumb {
    left: 40%;
  }

  &__volume,
  &__timer {
    background: $white;
    box-shadow: $shadow-active;
    border-radius: 20px;
    padding: 10px 40px;
    justify-content: space-around;
  }

  &__volume-image,
  &__timer-image {
    height: 100px;
  }
  &__volume-image {
    width: 100px;
    background: url('./../../../assets/svg/volumeIcon.svg') center / contain
      no-repeat;
  }
  &__timer-image {
    width: 85px;
    background: url('./../../../assets/svg/timeIcon.svg') center / contain
      no-repeat;
  }

  &__timer-checkbox-container,
  &__volume-checkbox-container {
    position: relative;
    .custom__checkbox {
      position: absolute;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -90%);
      width: 40px;
      height: 40px;
      border: 1px solid $range-disabled;
      background: $range;
      border-radius: 5px;
      &:before {
        content: '';
        position: absolute;
        display: none;
        left: 11px;
        top: -2px;
        width: 17px;
        height: 30px;
        border: solid $element-enabled;
        border-width: 0px 5px 5px 0px;
        transform: rotate(40deg);
      }
    }

    input[type='checkbox'] {
      width: 40px;
      height: 40px;
      margin: 20px 0;
      opacity: 0;
    }
  }
}
input[type='checkbox']:checked + .custom__checkbox::before {
  display: block;
}
